{% extends "base.html" %}
{% load static %}

{% block title %}{{ mix.title }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/lofi/mix_detail.css' %}">

<div>
    <button id="toggleNavbar" class="btn btn-primary">Toggle Navbar</button>

    <div class="row mt-3">
<div class="col-6">
    <div class="audio-player">
        <div class="track-info">
            <div id="trackTitle" class="track-title">Track 1</div>
        </div>

        <!-- Контролы плеера -->
        <div class="player-controls">
            <button id="prevTrack" class="btn player-btn">
                <img src="{% static 'img/rewind.svg' %}" alt="Rewind" class="control-icon">
            </button>
            <button id="playPause" class="btn player-btn">
                <img id="playPauseIcon" src="{% static 'img/play.svg' %}" alt="Play" class="control-icon">
            </button>
            <button id="nextTrack" class="btn player-btn">
                <img src="{% static 'img/forward.svg' %}" alt="Forward" class="control-icon">
            </button>
        </div>

        <!-- Выпадающее меню для выбора трека -->
        <div class="d-flex align-items-center mt-3">
            <div class="dropdown me-3">
                <button class="btn dropdown-toggle track-dropdown-btn" type="button" id="trackDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'img/list.svg' %}" alt="Иконка выбора трека" width="24" height="24">
                </button>

                <ul class="dropdown-menu" aria-labelledby="trackDropdownMenu" id="trackList">
                    {% for audio in audios %}
                    <li><a class="dropdown-item track-item" href="#" data-track-index="{{ forloop.counter0 }}">{{ audio.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Регулятор громкости -->
            <div class="d-flex align-items-center">
                <div class="volume-control mt-3">
                    <input type="range" id="volumeRange" class="volume-range" min="0" max="1" step="0.01" value="1">
                </div>

                <audio id="audioPlayer" class="audio-element">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
    </div>
</div>

        <div class="col-6">
            <div class="timer-container text-center">
                <h2 id="timerDisplay" class="work-time">30:00</h2>
                <button id="startTimer" class="btn custom-btn">Start Timer</button>
            </div>
        </div>
    </div>



    <div class="row">
    <!-- Таб контейнер для комнат и чата -->
        <div class="tab-and-chat-container">
            <div class="tab-container">
                {% for room in rooms %}
                <button class="tab custom-btn m-1"
                        data-room-id="{{ room.id }}"
                        data-room-image="{% if room.image %}{{ room.image.url }}{% else %}''{% endif %}"
                        data-room-description="{{ room.description }}"
                        data-dialogues='{% for dialogue in room.dialogue_set.all %}{{ dialogue.id }}:{% for message in dialogue.message_set.all %}{{ message.name }}: {{ message.message }}{% if not forloop.last %}|{% endif %}{% endfor %}{% if not forloop.last %};{% endif %}{% endfor %}'>
                    {{ forloop.counter }}
                </button>
                {% endfor %}
            </div>

            <div id="roomsContainer" class="chat-container">
                {% for room in rooms %}
                <div id="room-{{ room.id }}" class="room-info p-2">
                    <div class="messages" id="messages-{{ room.id }}">
                        <!-- Сообщения для этой комнаты будут появляться здесь -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


<div class="row justify-content-center">
    <!-- Вывод описания комнаты -->
    <div id="roomDescription" class="room-description">{{ rooms.first.description }}</div>
</div>



<div id="characterPopup" class="character-popup" style="display: block;">
    <div id="characterMessage" class="character-message"></div>
    <img id="characterImage" src="" alt="" class="character-image">

    <audio id="characterAudio" src="" preload="auto"></audio>
    <div id="responseOptions" class="response-options"></div>
</div>

</div>
<script>
    const tracks = [
        {% for audio in audios %}
        {
            title: "{{ audio.name }}",
            url: "{{ audio.audio.url }}"
        },
        {% endfor %}
    ];
</script>
<script>
    const characters = [
        {% for character in characters %}
        {
            image: "{{ character.image.url }}",
            message: "{{ character.message }}",
            audio: "{{ character.audio.url }}",
            name: "{{ character.name }}",
            responses: [
                {% for qa in character.questionanswer_set.all %}
                { question: "{{ qa.question }}", answer: "{{ qa.answer }}" },
                {% endfor %}
            ],
            room_description: "{{ character.room.description }}"  // Добавляем описание комнаты
        },
        {% endfor %}
    ];

document.addEventListener('DOMContentLoaded', function() {
    // Функция для получения текущего описания комнаты
    function getCurrentRoomDescription() {
        const roomDescriptionElement = document.getElementById('roomDescription');
        return roomDescriptionElement ? roomDescriptionElement.textContent.trim() : null;
    }

    // Функция для показа персонажа
    function showCharacterPopup() {
        const currentRoomDescription = getCurrentRoomDescription();
        if (!currentRoomDescription) {
            console.log('No active room description found.');
            return;
        }

        // Фильтруем персонажей, соответствующих текущему описанию комнаты
        const charactersForRoom = characters.filter(character => character.room_description === currentRoomDescription);
        if (charactersForRoom.length === 0) {
            console.log('No characters available for the current room.');
            return;
        }

        // Выбираем случайного персонажа из списка
        const character = charactersForRoom[Math.floor(Math.random() * charactersForRoom.length)];

        // Логика показа персонажа
        const characterPopup = document.getElementById('characterPopup');
        const characterImage = document.getElementById('characterImage');
        const characterMessage = document.getElementById('characterMessage');
        const characterAudio = document.getElementById('characterAudio');
        const responseOptions = document.getElementById('responseOptions');

        // Обновляем изображение, сообщение и аудио персонажа
        characterImage.src = character.image;
        characterMessage.innerHTML = `<span class="character-name">${character.name}</span><span class="character-message-content">${character.message}</span>`;
        characterAudio.src = character.audio;

        // Очищаем и обновляем варианты ответов
        responseOptions.innerHTML = '';
        responseOptions.style.display = 'block';  // Восстанавливаем видимость вариантов ответов
        character.responses.forEach(response => {
            const button = document.createElement('button');
            button.className = 'response-btn';
            button.textContent = response.question;
            button.onclick = function() {
                handleResponse(response.answer);
            };
            responseOptions.appendChild(button);
        });

        // Показываем всплывающее окно с персонажем
        characterPopup.style.display = 'block';
        characterAudio.play();
    }

    // Инициализация показа персонажа через 60 секунд
    setTimeout(showCharacterPopup, 10000);

    window.handleResponse = function(response) {
        const characterMessage = document.getElementById('characterMessage');
        const responseOptions = document.getElementById('responseOptions');

        // Обновляем сообщение после выбора ответа
        characterMessage.textContent = response;

        // Очищаем варианты ответов, но не скрываем блок, чтобы его можно было снова использовать
        responseOptions.innerHTML = '';

        setTimeout(hideCharacterPopup, 5000); // Персонаж исчезнет через 10 секунд после ответа
    };

    function hideCharacterPopup() {
        const characterPopup = document.getElementById('characterPopup');
        const characterAudio = document.getElementById('characterAudio');

        // Скрываем всплывающее окно и останавливаем аудио
        characterPopup.style.display = 'none';
        characterAudio.pause();
        characterAudio.currentTime = 0;

        // Повторное появление персонажа через 60 секунд
        setTimeout(showCharacterPopup, 10000);
    }
});

</script>

<script type="module" src="{% static 'js/lofi/mix_detail.js' %}"></script>

{% endblock %}
