{% extends "base.html" %}
{% load static %}
{% block title %}Game{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center flex-column" style="color: #b4d9ec; padding: 10px;">

    <!-- Прогресс игры -->
    <div id="gameProgress" class="mb-4" style="width: 100%; max-width: 600px;">
        <div class="progress rounded-1" style="height: 10px; background-color: #4a9396;">
            <div id="progressBar" class="progress-bar" role="progressbar" style="width: 0%; background-color: #fdd03b;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <!-- Игровая область -->
    <div id="gameContainer" class="mt-4 p-4 rounded" style="width: 100%; max-width: 600px; background-color: rgba(180, 217, 236, 0.1); border: 2px solid #4a9396;"></div>

    <!-- Контейнер для алертов -->
    <div id="alertContainer" class="position-fixed bottom-0 end-0 p-3" style="z-index: 1050;"></div>

        <div id="gameData" data-elements='{{ elements|safe }}'></div>  <!-- data-elements атрибут содержит JSON -->


</div>


<script type="module" src="{% static 'js/sentences/game.js' %}"></script>
{% load static %}
<style>
.audio-controls button {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
}

.audio-controls .btn-primary {
    background-color: #4a9396;
    color: #fff;
}

.audio-controls .btn-secondary {
    background-color: #cb7f07;
    color: #fff;
}

.audio-controls i {
    margin-right: 8px;
}

        /* Анимация появления */
    .fade-in {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    /* Анимация исчезновения */
    .fade-out {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    /* Активное состояние (видимый элемент) */
    .visible {
        opacity: 1;
    }
</style>
{% endblock %}